.amount {
  text-align: right;
  font-weight: bold;
}

.amount::after {

  content: '€';
  display: inline-block;
  margin-left: 3px;
}

.card {
  margin-top: 16px;
}

td {
  vertical-align: middle !important;
}


h1 {
  text-align: center;
}

@media screen and (min-width: 768px) {
  h1 {
    text-align: left;
  }
}